/** Add css rules here for your application. */
#Navigator{
	
	line-height:30px;
    background-color:#eeeeee;
    height:600px;    
    width:250px;
    float:left;
    padding:5px;
    border-left: solid silver;
    overflow: auto;
    margin: 0px auto;
}

#Details{
	
	width:auto;
    height:auto;
    float:left;
    padding:10px;
    border-rigth: solid silver;
    overflow: auto;
    margin: 0px auto;
}

#Border{
	
	line-height:30px;
    background-color:#eeeeee;
    height: 400px;
    min-height: 600px;
    width:15px;
    float:right;
    padding:5px;
    border-right: solid silver;
    overflow: auto;
    margin: 0px auto;
}

#Header{
	
	background-image: url("images/facebook-blau.png");
	background-size: cover;
    color:white;
    text-align:center;
    padding:2px;
    height:120px;
    width:auto;	
    border-top:  solid silver;
    border-left: solid silver;
    border-right: solid silver;
}
#Footer {
	background-image: url("images/facebook-blau.png");
	background-size: cover;
	border-bottom: solid silver;
	border-left: solid silver;
	border-right: solid silver;
    color:white;
    clear:both;
    text-align:center;
   	padding:5px;	
}

#Logo{
	position: absolute;
	left: 1;
	top: 0;
	display: block;
	width: 100px;  
	height: 50px;	
}

.login-btn {
 background: #ffffff;
 background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
 background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
 background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
 background-image: -o-linear-gradient(top, #ffffff, #ffffff);
 background-image: linear-gradient(to bottom, #ffffff, #ffffff);
 -webkit-border-radius: 10;
 -moz-border-radius: 10;
 border-radius: 1px;
 font-family: Arial;
 color: #000000;
 font-size: 15px;
 border: solid #e3e3e3 1px;
 text-decoration: none;
 padding: 5px 15px 5px 15px;
 margin-left: 11px;
 margin-right: 5px;
 position: absolute;
 top: 30px;
 right: 25px;
}

.neu-btn {
	background-color: #FFF;
	color: #000000;
	font-size: 15px;
	padding: 5px 15px 5px 15px;
	text-decoration: none;
	width: auto;
	outline-color: #000000;
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
	cursor: hand;
	-webkit-box-shadow: inset 0px 0px 5px 3px rgba(215,215,215,0.85);
	-moz-box-shadow: inset 0px 0px 5px 3px rgba(215,215,215,0.85);
	box-shadow: inset 0px 0px 5px 3px rgba(215,215,215,0.85);
	border: 0px solid #c7c7c7;
	border-radius: 3px;
	-moz-border-radius: 3px;
}
.beitrag{
	background-color: #f3f3f3;
	width:auto;
    height:auto;
    float:left;
    padding:10px;
    border-rigth: solid silver;
    overflow: auto;
    margin: 0px auto;
    border-top:  solid silver;
    border-left: solid silver;
    border-right: solid silver;
    border-bottom: solid silver;
}
.eins{
	background-color: #FFF;
	border-top:  solid silver;
    border-left: solid silver;
    border-right: solid silver;
    border-bottom: solid silver;
}

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
